/* background image basics */
/* Adding a background image from css*/
/* background-repeat */
/* 
background-repeat: repeat -- default value, image will repeat if there is space.
background-repeat: no-repeat -- image will not repeat.
background-repeat: repeat-x -- image will repeat horizontally.
background-repeat: repeat-y -- image will repeat vertically.
background-repeat: space -- repeated images will have space between them.
background-repeat: round -- tries to fit as many images as possible having the same dimensions, if there is no enough space, then the image will get adjusted.
*/

div {
  height: 300px;
  color: white;
  border: 3px solid red;
}
.big-img {
  background: url("./big.jpg");
  background-repeat: round;
}
.small-img {
  background: url("./small1.jpg");
  background-repeat: repeat;
  background-repeat: no-repeat;
  background-repeat: repeat-x;
  background-repeat: repeat-y;
  background-repeat: space;
  background-repeat: round;
}
.img3 {
  background: url("./img3.jpg");
  background-repeat: round;
}
