/* Font-weight, Font-style */
/* font-weight -- how thick or thin characters in a text should be */
/* font-style -- sets the font style for a text */

.heading1 {
  font-family: fantasy;
}
.heading2 {
  font-family: cursive;
}
.one {
  font-style: italic;
  font-weight: bold;
}
.two {
  font-style: normal;
  font-weight: 900;
}
