/* gap property */
/* row-gap property -- gap between rows. 
column-gap property -- gap between columns. 
gap shorthand : 
gap : row-gap column-gap */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.cell {
  padding: 2rem;
  border: 3px solid red;
  background: #dedede;
  text-align: center;
  color: white;
}
.cell-1 {
  background: green;
}
.cell-2 {
  background: hotpink;
}
.cell-3 {
  background: blue;
}
.cell-4 {
  background: coral;
}
.cell-5 {
  background: cyan;
}
.container {
  border: 5px solid black;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 50px;
  column-gap: 50px;
  gap: 100px 100px;
}
